* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer_container {
    display: flex;
    flex-basis: 1200px;
    flex-direction: column;
    background-image: url("../images/bg-top.svg"),
        url("../images/bg-bottom.svg");
    background-size: 20% 80%, 20% 50%;
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
    align-items: center;
    justify-content: center;
    background-color: #f7f7ff;
    padding: 40px 0;
    color: #9294a5;
}
h1,
h2,
h3,
h4 {
    text-align: center;
}
h1 {
    all: unset;
    font-size: 3rem;
    font-weight: 700;
    padding: 20px 0;
    color: #44475c;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: #8e8ea6;
}

.switch_box {
    width: 20%;
    padding: 20px 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
    position: relative;
    flex-wrap: wrap;
}

.price_cards_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.price_card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px;
    border-radius: 5px;
    flex-basis: 300px;
    font-weight: 700;
}
ul li {
    list-style: none;
    text-align: center;
    padding: 15px 0;
}
hr {
    width: 80%;
    margin: auto;
    background-color: #9294a5;
}

button[type="submit"] {
    text-transform: uppercase;
    color: #fff;
    border: none;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 25px;
    font-weight: 700;
}

button[type="submit"]:hover {
    cursor: pointer;
}

.price_card:hover {
    transform: scale(1.1);
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: #fff;
    /* cursor: pointer; */
}

.price_card:hover h1 {
    color: #fff;
}

.price_card:hover button {
    background-image: none;
    background-color: #fff;
    color: hsl(237, 63%, 64%);
}

.price_card:hover hr {
    background-color: #fff;
}
input[type="checkbox"] {
    width: 0px;
    height: 0px;
    visibility: hidden;
    position: absolute;
}

label {
    display: block;
    width: 60px;
    height: 30px;
    background-color: gray;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

label::after {
    content: "";
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    border-radius: 70px;
    top: 0px;
    left: 0px;
    transition: 0.5s;
}

input:checked + label:after {
    left: 30px;
}

input:checked + label {
    background-color: hsl(237, 63%, 64%);
}
.dollar {
    font-size: 2rem;
    padding: 0 10px;
}
